@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;800&display=swap");

body {
  margin: 0;
  font-family: 'Exo 2', sans-serif;
}

* {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background: none;
}

::-webkit-scrollbar-thumb {
	background-color: #f368c6;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
	border-radius: 5px;
}


::-webkit-scrollbar-thumb:hover {
  opacity: 0.5;
}